nav {
    width: 100%;
    margin-bottom: 1rem;
    background-color: var(--primary);
    height: 50px;
    position: relative;
    /* width: 95vw; */
}

ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

li {
    line-height: 50px;
    font-size: 2rem;
    color: var(--primary-third);
}

li:hover {
    text-decoration: underline;
}

.mobile,
#icon-menu {
    display: none;
}

@media (max-width: 600px) {
    .desktop {
        display: none;
    }

    #icon-menu {
        display: initial;
    }

    .mobile {
        position: absolute;
        right: 0;
        display: none;
        flex-direction: column;
        gap: 0;
        align-items: flex-end;
        z-index: 2 !important;
        background-color: var(--primary);
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        width: 100%;
    }

    .mobile li {
        /* margin-right: 2rem; */
        color: var(--color-primary);
        margin: 0 auto;
    }

    .mobile li:first-child {
        margin-top: 1rem;
    }

    span {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        font-size: 2rem;
        color: var(--color-primary);
        z-index: 3;
    }

    span:hover {
        cursor: pointer;
    }

    .active {
        display: flex !important;
    }
}
